*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

body {
  padding: 100px;
}
/* PokerTable */
#poker-table {
  height: 579px;
  width: 998px;
  position: relative;
  margin: auto;

  border: solid;
  border-radius: 289px 289px;
  background-color: #465f51;
}

#poker-table:after {
  content: ' ';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  border: 36px solid;
  border-radius: 289px 289px;
  border-color: #957146;
}

#pot {
  justify-content: center;
  font-size: 24px;

  height: 30px;
  width: 105px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  margin: auto;
}

#pot:after {
  content: attr(data-chip-count);
  text-align: right;
  font-size: 30px;
  padding-top: 0px;
  padding-right: 5px;

  height: 39px;
  width: 160px;
  position: absolute;
  bottom: -40px;

  border: 3px solid;
  border-color: #000000;
  background-color: #d8d8d8;
}

#board-area {
  height: 100px;
  width: 375px;

  position: absolute;
  top: 245px;
  left: 50%;
  transform: translate(-50%);

  display: flex;
  align-items: center;
  flex-direction: row;

  padding-left: 15px;

  border-radius: 30px;
  background-color: #33453b;
}

#board-area .vl {
  height: 90px;

  position: absolute;
  top: 5px;
  left: 220px;

  margin-left: -3px;
  border-left: 1px solid #c4c2c2;
}

#board-area .vl:nth-of-type(2) {
  left: 294px;
}

#flop-area {
  padding-right: 5px;
  display: flex;
}
#turn-area {
  margin-left: 5px;
  padding: 5px;
}

#river-area {
  margin-left: 5px;
  padding: 5px;
}

#dealer-indicator {
  height: 26px;
  width: 43px;

  position: absolute;

  padding: 2px;

  border-radius: 100%;
  text-align: center;
  font-size: larger;
  background-color: #ffffff;
}

/* Seats */
.seat {
  justify-content: center;
  z-index: 1;
  height: 76px;
  width: 105px;
  position: absolute;
  display: flex;
  align-items: center;
  margin: auto;

  border: solid;
  border-radius: 100%;
  background-color: #808080;
}

.seat:after {
  content: attr(data-chip-count);
  text-align: right;
  font-size: 24px;

  height: 34px;
  width: 105px;
  position: absolute;
  bottom: -34px;
  padding-right: 5px;

  border: 3px solid;
  border-color: #000000;
  background-color: #d8d8d8;
}

/* Turn indicator */
.acting-seat:before {
  content: ' ';
  z-index: 1;

  height: 174px;
  width: 183px;
  position: absolute;

  border: 4px solid;
  border-radius: 100%;
  border-color: #ffe700;
}

#seat-1 {
  /* TODO: using seat 9s positioning until implementation of */
  /* top: 30px;
  right: 255px; */
  top: 30px;
  left: 255px;
}

#seat-1 #dealer-indicator {
  bottom: -80px;
}

#seat-2 {
  /* TODO: using seat 1s positioning until implementation of */
  /* top: 150px;
  right: 80px; */
  top: 30px;
  right: 255px;
}

#seat-2 #dealer-indicator {
  bottom: 0px;
  left: -60px;
}

#seat-3 {
  top: 330px;
  right: 80px;
}

#seat-3 #dealer-indicator {
  bottom: 44px;
  left: -52px;
}

#seat-4 {
  top: 429px;
  right: 223px;
}

#seat-4 #dealer-indicator {
  bottom: 77px;
  left: -10px;
}

#seat-5 {
  top: 450px;
  left: 50%;
  transform: translate(-50%);
}

#seat-5 #dealer-indicator {
  bottom: 103px;
  left: 55px;
}

#seat-6 {
  top: 429px;
  left: 223px;
}

#seat-6 #dealer-indicator {
  bottom: 83px;
  left: 81px;
}

#seat-7 {
  top: 330px;
  left: 80px;
}

#seat-7 #dealer-indicator {
  bottom: 40px;
  left: 113px;
}

#seat-8 {
  top: 150px;
  left: 80px;
}

#seat-8 #dealer-indicator {
  bottom: 0px;
  left: 117px;
}

#seat-9 {
  top: 30px;
  left: 255px;
}

#seat-9 #dealer-indicator {
  bottom: -67px;
  left: 59px;
}

/*Cards */

.hole-cards {
  z-index: 2;
  height: 100px;
  width: 100px;
}

.card-1 {
  position: absolute;
}

.card-2 {
  position: absolute;
  left: 30px;
}

/*Player*/
.player {
  height: 113px;
  width: 79px;
  position: absolute;
  bottom: 0px;
}

.head {
  z-index: 1;
  height: 50px;
  width: 58px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;

  border: solid;
  border-radius: 100%;
  border-color: #979797;
  background-color: #d8d8d8;
}

.body {
  height: 73px;
  width: 79px;
  position: absolute;
  top: 40px;

  border: solid;
  border-radius: 30px;
  border-color: #979797;
  background-color: #d8d8d8;
}

/* Player actions */

#player-actions {
  height: 117px;
  width: 610px;

  position: relative;
  margin: auto;
}

.slidecontainer {
  width: 100%;
  margin: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
}

.slider {
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  height: 34px;
  width: 363px;
  /* background: #d3d3d3; */
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin: 10px 0px;
  border: solid;
  border-color: #979797;

  --w: 1px; /* Thiclness of the line */
  --n: 9; /* number of lines */

  background: linear-gradient(90deg, #0000 calc(100% - var(--w)), #979797 0);
  background-size: calc((100% - var(--n) * var(--w)) / (var(--n) + 1) + var(--w)) 100%;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 40px;
  background: #000000;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}

#bet-input {
  vertical-align: middle;
  height: 34px;
  width: 160px;

  padding-right: 5px;
  margin: 10px auto;

  font-size: 24px;
  text-align: right;

  border: 3px solid;
  border-color: #000000;
}

.action-buttons {
  height: 73px;
  width: 160px;
  margin: 5px 20px;
  padding: 0px;

  font-size: 36px;
}

#im-ready-button {
  height: 160px;
  width: 160px;
  margin: 5px 20px;
  padding: 0px;

  font-size: 36px;

  border-radius: 100%;
}

.countdown-indicator {
  width: 80%; /* Adjust as needed */
  position: absolute;
  bottom: -30px; /* Adjust as needed to position the indicator under the seat */
  transform: translateX(-50%);
  z-index: 1;
}
